<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palace Fries</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
<!--header section-->
<header>
    <div class="nav">
        <div class="logo">
            <a class="logo" href="">Palace Frys</a>
        </div>
        <div class="nav-items">
        <a class="nav-items" href="">Home</a>
        <a class="nav-items" href="">Shop</a>
        <a class="nav-items" href="">Menu</a>
        <a class="nav-items" href="">About Us</a>
        <a class="nav-items" href="">Contact</a>
        </div>
        <div class="search">
            <label for="">Search:</images/available.jpg>
            <input class="search" type="search">
        </div>
    </div>
</header>
<!--end of header section-->

<!--burger section-->
<div class="burger">
    <div class="burger-text">
    <h1 style="color:#f1be32;">Yummy Yummy</h1>
    <p>Get to enjoy our yummy burgers.🍔 Order Now 🍟 Our menu features the most popular and delicious burgers you can find anywhere. Our classic beef burger, for example, is a go-to choice for people who want to enjoy the freshest ingredients and most satisfying taste. Our unique signature recipes also include items like our chicken fried steak burger, BBQ burger, or our bison burger, all of which offer something new and exciting to taste buds.</p>
    </div>
    <div>
        <img class="burgerr" src="/images/burgerr.jpg" alt="burger">
    </div>
</div>
<!--end of section-->


<!--coffee section-->
<div class="coffeee">
    <div>
        <img class="coffee" src="/images/coffee.jpg" alt="coffee">
    </div>
    <div class="coffee-text">
    <h1 style="color:#f1be32;">Coffee made with love</h1>
    <p>Our coffee is made in different flavors. Enjoy our coffee depending on what you are feeling.
        Whether it's a morning pick me up or an afternoon relaxation, we have the perfect fresh coffee to rely on
    </div>
</div>
<!--end of section-->
<!--coffee section>
<div class="coffeee">
    <div>
        <img class="tea" src="/images/tea.jpg" alt="coffee">
    </div>
    <div>
        <img class="americano" src="/images/americano.jpg" alt="coffee">
    </div>
    <div>
        <img class="coffee" src="/images/moca.jpg" alt="coffee">
    </div>
    <div>
        <img class="coffee" src="/images/capuccino.jpg" alt="coffee">
    </div>
    <div class="coffee-text">
    <h1 style="color:#f1be32;">Coffee made with love</h1>
    <p>Our coffee is made in different flavors. Enjoy our coffee depending on what you are feeling.
        Whether it's a morning pick me up or an afternoon relaxation, we have the perfect fresh coffee to rely on
    </div>
</div>
<end of section-->


<!--pizza section-->
<div class="pizza">
    <div>
        <img class="pizzaa" src="/images/pizza.jpg" alt="pizza">
    </div>
    <div class="pizza-text">
    <h1 style="color:orange">Anytime is pizza time!</h1>
    <p> Order whole pizza according to your desired size, customize it with your favorite toppings, and have it delivered right to your door.  </div>
</div>
<!--end of section-->

<!--fries section>
<div class="fries">
    <div>
        <img class="friesc" src="/images/fries.jpg" alt="fries">
    </div>
    <div>
        <img class="coke" src="/images/coke.jpg" alt="fries">
    </div>
    <div class="pizza-text">
    <h1 style="color:orange">Anytime is pizza time!</h1>
    <p> Order whole pizza according to your desired size, customize it with your favorite toppings, and have it delivered right to your door.  </div>
</div>
<end of section-->

<!--menu section-->
<div class="menu">
<h1 style="color:orange;background-color:bisque;margin-bottom:0;margin-left:500px;">Our Pizza Menu</h1>
<div class="row menu">
<div class="col-md-2">
<div class="card">
    <img class="pizza-image" src="/images/tikka.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Chicken Tikka</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
</div>
<div class="col-md-2">
<div class="card">
    <img class="pizza-image" src="/images/beefbbq.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Chicken BBQ</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
</div>
<div class="col-md-2">
<div class="card">
    <img class="pizza-image" src="/images/hawaiian.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Hawaiian</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
</div>
<div class="col-md-2">
<div class="card">
    <img class="pizza-image" src="/images/mushroom.jpg" alt="Avatar">
  <div class="container">
    <h4><b>Mushroom</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>
</div>
</div>
</div>
<!--end of menu section-->

<!--section showing services-->
    <div class="extra-info">
        <div class="info">
            <a href="#"><img class="img-info" src="/images/burger.jpg" alt="burger"></a>
            <h2>Offers</h2>
            <p>Dont miss out on our offers.</p>
        </div>
        <div class="info">
            <a href="#"><img class="img-info" src="/images/available.jpg" alt="burger"></a>
            <h2>Available 24/7</h2>
            <p>Make your orders at the comfort of your home.We are open 24hrs.</p>
        </div>
        <div class="info">
            <a href="#"><img class="img-info" src="/images/delivery.jpg" alt="burger"></a>
            <h2>Delivery</h2>
            <p>Receive your orders at the desired destination.</p>
        </div>
      </div>
<!--end of service section-->
    <footer >
      <div class="sicons">
        <h2 class="social-icon">Follow us: </h2>
        <a class="social-icon" href="#"><box-icon type='logo' name='facebook-circle' color='#d07714'></box-icon></a>
        <a class="social-icon" href="#"><box-icon name='instagram-alt' type='logo' color='#d0b714'></box-icon></a>
        <a class="social-icon" href="#"><box-icon type='logo' name='youtube' color='#4fd014'></box-icon></a>
        <a class="social-icon" href="#"><box-icon name='twitter' type='logo' color='#d04e14'></box-icon></a>         
      </div>
      <hr>
      <div class="direct-links">
        <h2 class="destination">HOME</h2>
        <h2 class="destination">MENU</h2>
        <h2 class="destination">ABOUT</h2>
        <h2 class="destination">SHOPS</h2>
        <h2 class="destination">CONTACT</h2>
      <div>
      </br></br></br> 
      <p>&copy; 2021 Palace Fries |</p>
    </footer>
</body>
</html>